.btn-web,
.btn-graphic {
  background: linear-gradient(to right, #f6ad55, #ed8936);
  color: black;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  transition: background 0.5s ease;
}

.btn-web:hover,
.btn-graphic:hover {
  background: linear-gradient(to right, #f687b3, #ed64a6);
}
